TELEGRAM_BOT_TOKEN=<your-telegram-bot-token>
TELEGRAM_CHAT_ID=<your-telegram-chat-id>
DATABASE_URL = <db-connection-string>
JSEARCH_API_KEY = <your-jsearch-api-key>
GEMINI_API_KEY = <your-gemini-api-key>